<nav-bar></nav-bar>
<div class="container-fluid">
  <h2 class="text-center my-4">Registros</h2>

  <!-- Filtros de fecha -->
  <div>
    <div class="container">
      <div>
        <div class="dateInput">
          <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
          <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" />
        </div>
        <div class="dateInput">
          <label for="fechaFin" class="form-label">Fecha Fin:</label>
          <input type="date" id="fechaFin" class="form-control" [(ngModel)]="fechaFin" />
        </div>
        <div style="margin-top: 1vh;">
          <button class="btn btn-danger w-100" (click)="buscarRegistros()">Buscar</button> 
        </div>
        <div style="margin-top: 1vh;">
          <button class="btn btn-danger w-100" (click)="limpiarBusquedas()">Limpiar busqueda</button>
        </div>
        <!-- Botón para generar Excel -->
        <div *ngIf="fechaInicio && fechaFin && BusquedaPresionado">
          <div class="col-md-12 text-center" style="margin-top: 1vh;">
            <button class="btn btn-success" (click)="generarExcel()">Generar Excel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tablas de registros -->
  <div class="row">
    <!-- Tabla Entradas 
    <div class="col-md-6">
      <h4 class="text-center">Entradas de Materia Prima</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Materia Prima</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Costo unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entrada of EntradasMateriasPrimas">
            <td>{{ entrada.fecha | date: 'dd/MM/yyyy' }}</td>
            <td>{{ entrada.nombreMateria }}</td>
            <td>{{ entrada.cantidad }}</td>
            <td>{{entrada.unidad}}</td>
            <td>{{ entrada.costo | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
     -->
    <!-- Tabla Salidas -->
    <div class="col-md-6">
      <h4 class="text-center">Salidas de Producto Terminado</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salida of SalidasProductos">
            <td>{{ salida.fecha | date: 'dd/MM/yyyy' }}</td>
            <td>{{ salida.nombreProducto }}</td>
            <td>{{ salida.cantidad }}</td>
            <td>{{ salida.precio | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>