.body {
    font-family: Arial, sans-serif;
    background-color: #181c16; 
    color: #b9bbbe; 
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #edeae6; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

h2 {
    margin-bottom: 10px;
    color: #cf0015; 
    font-size: 28px; 
    text-align: center; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.actions-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.actions-bar button {
    background: linear-gradient(45deg, #cf0015, #c5a173);
    color: #ffffff; 
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.actions-bar button:hover {
    background: linear-gradient(45deg, #c5a173, #cf0015);
}

.btn-add {
    background: linear-gradient(45deg, #c5a173, #cf0015);
}

.search-bar {
    margin-bottom: 15px;
}

.search-bar input {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #4a4f57; 
    color: #b9bbbe; 
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff; 
    color: #333; 
    border-radius: 20px; 
    overflow: hidden;
}

.inventory-table thead {
    background-color: #cf0015; 
    color: #ffffff; 
}

.inventory-table th, .inventory-table td {
    padding: 10px;
    border: 1px solid #ddd; 
    text-align: center;
}

.inventory-table tr:nth-child(even) {
    background-color: #edeae6; 
}

.inventory-table .btn-edit {
    background: linear-gradient(45deg, #cf0015, #c5a173);
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    transition: background 0.3s ease;
}

.inventory-table .btn-edit:hover {
    background: linear-gradient(45deg, #c5a173, #cf0015);
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.pagination button {
    background: linear-gradient(45deg, #cf0015, #c5a173);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 2px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pagination button:hover {
    background: linear-gradient(45deg, #c5a173, #cf0015);
}


#BotonAgregar{
    align-self: end;
}