<nav-bar></nav-bar>

<div style="margin-top: 2%;" class="container">
  <!-- Título -->

  <h2>Inventario de Materias Primas</h2>

  <!-- Botón de agregar nueva materia prima -->
  <button id="BotonAgregar" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#agregarModal">
    Agregar Materia Prima
  </button>

  <!-- Tabla de materias primas -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Unidad de medida</th>
        <th>Precio por unidad (MXN)</th>
        <th>Marca</th>
        <th>Existencias</th>
        <th>Punto de Reorden</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materia of materias">
        <td>{{ materia.Codigo }}</td>
        <td>{{ materia.Nombre }}</td>
        <td>{{ materia.Unidad_Medida }}</td>
        <td>{{ materia.Precio_unitario }}</td>
        <td>{{ materia.Marca }}</td>
        <td>{{materia.Existencias}}</td>
        <td>{{ materia.Punto_Reorden }}</td>
        <td>
          <!-- Botón de editar -->
          <button id="BotonEditarMateia" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#editarModal"
            (click)="EditarModalMateria(materia)">
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>



  <!-- Modal para agregar nueva materia prima -->
  <div class="modal fade" id="agregarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarModalLabel">Agregar Materia Prima</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Codigo</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevaMateria.Codigo" name="nombre"
                required>
            </div>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevaMateria.Nombre" name="nombre"
                required>
            </div>
            <div class="mb-3">
              <label for="unidad_medida" class="form-label">Unidad de Medida</label>
              <select class="form-control" id="unidad_medida" [(ngModel)]="nuevaMateria.Unidad_Medida"
                name="unidad_medida" required>
                <option value="">Seleccione una unidad de medida</option>
                <option value="Litros">Litros</option>
                <option value="Kilogramos">Kilogramos</option>
                <option value="Gramos">Gramos</option>
                <option value="Mililitros">Mililitros</option>
                <option value="Piezas">Piezas</option>
                <!-- Agrega más opciones según sea necesario -->
              </select>
            </div>

            <div class="mb-3">
              <label for="marca" class="form-label">Marca</label>
              <input type="text" class="form-control" id="marca" [(ngModel)]="nuevaMateria.Marca" name="marca" required>
            </div>
            <div class="mb-3">
              <label for="existencias" class="form-label">Existencias</label>
              <input type="text" class="form-control" id="existencias" [(ngModel)]="nuevaMateria.Existencias"
                name="existencias" required>
            </div>
            <div class="mb-3">
              <label for="punto_reorden" class="form-label">Punto de Reorden</label>
              <input type="number" class="form-control" id="punto_reorden" [(ngModel)]="nuevaMateria.Punto_Reorden"
                name="punto_reorden" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="agregarMateria()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para editar materia prima -->
  <div class="modal fade" id="editarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarModalLabel">Editar Materia Prima</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Codigo</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="materiaAEditar.Codigo" name="codigo"
                required>
            </div>
            <div class="mb-3">
              <label for="editNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="editNombre" [(ngModel)]="materiaAEditar.Nombre" name="nombre"
                required>
            </div>
            <div class="mb-3">
              <label for="unidad_medida" class="form-label">Unidad de Medida</label>
              <select class="form-control" id="unidad_medida" [(ngModel)]="materiaAEditar.Unidad_Medida"
                name="unidad_medida" required>
                <option value="">Seleccione una unidad de medida</option>
                <option value="Litros">Litros</option>
                <option value="Kilogramos">Kilogramos</option>
                <option value="Gramos">Gramos</option>
                <option value="Mililitros">Mililitros</option>
                <option value="Piezas">Piezas</option>
                <!-- Agrega más opciones según sea necesario -->
              </select>
            </div>
            <div class="mb-3">
              <label for="editMarca" class="form-label">Precio unitario (MXN)</label>
              <input type="number" class="form-control" id="Precio_unitario"
                [(ngModel)]="materiaAEditar.Precio_unitario" name="Precio_unitario" required>
            </div>
            <div class="mb-3">
              <label for="editMarca" class="form-label">Marca</label>
              <input type="text" class="form-control" id="editMarca" [(ngModel)]="materiaAEditar.Marca" name="marca"
                required>
            </div>
            <div class="mb-3">
              <label for="editExistencias" class="form-label">Existencias</label>
              <input type="text" class="form-control" id="editExistencias" [(ngModel)]="materiaAEditar.Existencias"
                name="existencias" required>
            </div>
            <div class="mb-3">
              <label for="editPunto_reorden" class="form-label">Punto de Reorden</label>
              <input type="number" class="form-control" id="editPunto_reorden"
                [(ngModel)]="materiaAEditar.Punto_Reorden" name="punto_reorden" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="btnCerrarEditarElemento" type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="editarMateria()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>