.body {
    font-family: Arial, sans-serif;
    background-color: #181c16;
    color: #b9bbbe;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #edeae6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 10px;
    color: #cf0015;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
}

/* Contenedor de búsqueda y botón de agregar */
#ContenedorBusqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Barra de búsqueda */
.search-bar {
    flex: 1;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #b6b6b6;
    color: white;
    margin-right: 15px;
}

/* Botón agregar materia prima */
.btn-add {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-add:hover {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

/* Tabla de inventario */
.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.inventory-table thead {
    background-color: #cf0015;
    color: #ffffff;
    position: sticky; /* Fijar los encabezados */
}

.th {
    position: sticky; /* Fijar los encabezados */
    top: 0; /* Posición superior en 0 */
    z-index: 1; /* Asegurar que los encabezados estén por encima del contenido */
    border-bottom: 2px solid #ddd; /* Agregar un borde inferior para los encabezados */
  }

.inventory-table th, .inventory-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.inventory-table tr:nth-child(even) {
    background-color: #f7f7f7;
}

/* Botón editar */
.inventory-table .btn-edit {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.inventory-table .btn-edit:hover {
    background: linear-gradient(45deg,#ff416c, #ff4b2b);
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.pagination button {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 2px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pagination button:hover {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.btn-outline-danger {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
}

/*ancho de los modales */
#agregarModal .modal-dialog,
#editarModal .modal-dialog {
    max-width: 80%; 
    margin: 1.75rem auto; 
}

/*contenido del modal */
#agregarModal .modal-content,
#editarModal .modal-content {
    background-color: #edeae6; 
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    color: #333;
}

/*cabecera del modal */
#agregarModal .modal-header,
#editarModal .modal-header {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*cuerpo del modal */
#agregarModal .modal-body,
#editarModal .modal-body {
    background-color: #f7f7f7;
    padding: 20px;
}

/*pie del modal */
#agregarModal .modal-footer,
#editarModal .modal-footer {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#agregarModal .btn,
#editarModal .btn {

    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

#agregarModal .btn-secondary,
#editarModal .btn-secondary {
    background-color: #6c757d; 
    color: #ffffff;
}

#agregarModal .btn-secondary:hover,
#editarModal .btn-secondary:hover {
    background-color: #5a6268;
}

#agregarModal .btn-primary,
#editarModal .btn-primary {
    background-color: #cf0015;
    color: #ffffff;
}

#agregarModal .btn-primary:hover,
#editarModal .btn-primary:hover {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}


#agregarModal .modal-body input,
#agregarModal .modal-body select,
#editarModal .modal-body input,
#editarModal .modal-body select {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

/* Responsividad */
@media (max-width: 768px) {
    #agregarModal .modal-dialog,
    #editarModal .modal-dialog {
        max-width: 95%;
        margin: 1rem auto;
    }
}
/* Coloca los primeros 4 campos en la izquierda y los otros 4 en la derecha */
#agregarModal .modal-body .form-group,
#editarModal .modal-body .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* espacio entre campos */
}

#agregarModal .modal-body .form-group .col-left,
#editarModal .modal-body .form-group .col-left {
    flex: 1;
    min-width: 45%;
}

#agregarModal .modal-body .form-group .col-right,
#editarModal .modal-body .form-group .col-right {
    flex: 1;
    min-width: 45%;
}

.table-wrapper {
    max-height: 600px; /* Altura fija para el área desplazable */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    border: 1px solid #ddd; /* Opcional: agregar un borde para definir la tabla */
  }
