* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 90%;  
    max-width: 1200px;
    height: auto;
    gap: 0px;
    flex-wrap: wrap; 
    z-index: 10; 
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    z-index: 10; 
}

.logo-image {
    width: 100%;
    object-fit: cover;
}

.form-box {
    background-color: #f1f1f3;
    width: 350px;
    padding: 60px;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 10; 
}

.form-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    border: none;
    padding: 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    width: 100%;  
}

.submit-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}


.fixed-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 15vw;  
    height: auto;
    z-index: 0; 
    transform: rotate(25deg);
}

.fixed-image-top-left {
    position: fixed;
    top: 30px;
    left: 25px;
    width: 15vw;  
    height: auto;
    z-index: 0; 
    transform: rotate(25deg) rotateY(180deg);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-box {
        width: 100%;  
        border-radius: 0; 
    }

    .form-box {
        width: 100%;
        border-radius: 0; 
        padding: 30px; 
    }

    .fixed-image, .fixed-image-top-left {
        width: 20vw; 
    }
}
