.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 15vh;
    background-color: #bb405a;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    background-blend-mode: soft-light, screen;
    background-size: cover;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav li {
    position: relative;
}

.nav a {
    white-space: nowrap;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ddd9d9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav p {
    white-space: nowrap;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ddd9d9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav li:hover a {
    color: #fad118;
}

.nav li:hover p {
    color: #fad118;
}

.nav-link::befeore {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9b50cc;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::before {
    visibility: visible;
    width: 100%;
}

.ImagenLogo {
    margin-top: 1vh;
    max-width: 120px;
    max-height: 120px;
    border-radius: 100%;
    cursor: default;
}