

<div class="body">

    <div class="header">
        <nav class="nav">
            <ul>
                <li class="nav-link">
                    <a (click)="IrOrdenesProduccion()">Ordenes de produccion</a>
                </li>

                <li class="nav-link">
                    <a (click)="IrReportes()">Reportes</a>
                </li>

                <li class="nav-link">
                    <a (click)="IrInventario()">Inventario</a>
                </li>

                <li class="nav-link">
                    <a (click)="IrProductos()">Productos</a>
                </li>

                <li class="nav-link">
                    <a>Subproductos</a>
                </li>

                <li class="nav-link">
                    <a (click)="IrLogin()">Cerrar Sesion</a>
                </li>
                <div>
                    
                </div>
            </ul>
        </nav>
    </div>

</div>