<div class="container">
    <div class="inner-container">
      <div class="Titulo">
        <h1>Ventas</h1>
        <button class="logout-btn" (click)="cerrarSesion()">Cerrar sesión</button> <!-- Botón para cerrar sesión -->
      </div>
      <div class="subtitulo">
        Ingrese los datos solicitados a continuación
      </div>
      <div class="formulario">
        <p>Fecha del día del reporte</p>
        <input type="date" class="input-field date" [(ngModel)]="nuevaVenta.fecha" placeholder="Seleccionar fecha" />
  
        <p>Ingrese el dato1</p>
        <input type="text" class="input-field" [(ngModel)]="nuevaVenta.dato1" placeholder="Dato1" />
  
        <p>Ingrese el dato2</p>
        <input type="text" class="input-field" [(ngModel)]="nuevaVenta.dato2" placeholder="Dato2" />
  
        <p>Ingrese el dato3</p>
        <input type="text" class="input-field" [(ngModel)]="nuevaVenta.dato3" placeholder="Dato3" />
  
        <p>Descripción detallada del día</p>
        <textarea class="input-field textarea" [(ngModel)]="nuevaVenta.descripcion" placeholder="Descripción"></textarea>
      </div>
      <div class="button-group">
        <button class="submit-btn" (click)="insertarVenta()">Enviar</button>
        <button class="edit-btn" (click)="LimpiarFormulario()">Limpiar</button>
      </div>
    </div>
  </div>
  