<div class="container">
        <div class="inner-container">
            <div class="Titulo">
                <h1>Ventas</h1>
            </div>
            <div class="subtitulo">
                Ingrese los datos solicitados a continuación
            </div>
            <div class="formulario">

                <p>Fecha del día del reporte</p>
                <input type="date" class="input-field date" placeholder="Seleccionar fecha">

                <p>Ingrese el dato1</p>
                <input type="text" class="input-field" placeholder="Dato1">

                <p>Ingrese el dato2</p>
                <input type="text" class="input-field" placeholder="Dato2">

                <p>Ingrese el dato3</p>
                <input type="text" class="input-field" placeholder="Dato3">

                <p>Descripción detallada del día</p>
                <textarea class="input-field textarea" placeholder="Descripción"></textarea>
            </div>
            <div class="button-group">
                <button class="submit-btn">Enviar</button>
                <button class="edit-btn">Editar</button>
            </div>
        </div>
    </div>
