<body>
  <div class="container">
      <div class="header">
          <img src="https://firebasestorage.googleapis.com/v0/b/cheesetrack-dd8bc.appspot.com/o/121543057_1020820045095734_907176375967712815_n.png?alt=media&token=68b41600-b430-4412-9093-4e2568595fcf" alt="Logo La Carreta" class="logo">
          <div class="title">
            <p>Captura de Datos</p>
            <h1>Ventas</h1>
        </div>
          <button class="button">Cerrar Sesión</button>
      </div>

      

      <div class="form-container">
          <div class="form-section">
              <h2>Campos de captura</h2>
              <div class="form-group">
                  <label for="fecha">Fecha de captura</label>
                  <input type="text" id="fecha">
              </div>
              <div class="form-group">
                  <label for="cobranzaEfectivo">Cobranza Efectivo</label>
                  <input type="text" id="cobranzaEfectivo">
              </div>
              <div class="form-group">
                  <label for="cobranzaBanco">Cobranza Depósito Banco</label>
                  <input type="text" id="cobranzaBanco">
              </div>
          </div>
          <div class="form-section">
              <h2>Campos automáticos</h2>
              <div class="form-group">
                  <label for="compraProductos">Compra de Productos</label>
                  <input type="text" id="compraProductos">
              </div>
              <div class="form-group">
                  <label for="inventario">Inventario P.T</label>
                  <input type="text" id="inventario">
              </div>
              <div class="form-group">
                  <label for="ventaContado">Venta de Productos Contado</label>
                  <input type="text" id="ventaContado">
              </div>
              <div class="form-group">
                  <label for="cuentasCobrar">Cuentas Por Cobrar</label>
                  <input type="text" id="cuentasCobrar">
              </div>
          </div>
      </div>

      <div class="logo-footer">
      </div>

      <button class="submit-button">Subir Datos</button>
  </div>
</body>

<link rel="stylesheet" href="ventas.component.css">
