<nav-bar></nav-bar>

<div style="margin-top: 2%;" class="container">
    <!-- Título -->
    <h2>Lista de Productos</h2>

    <div>
        <!-- Botón de agregar nuevo producto -->
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#agregarModal">
            Agregar Producto
        </button>
    </div>

    <!-- Tabla de productos terminados -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Elaboracion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listaProductos">
                <td>{{ producto.Codigo }}</td>
                <td>{{ producto.Nombre }}</td>
                <td>{{ producto.Elaboracion }}</td>
                <td>{{ producto.Estado }}</td>
                <td>
                    <!-- Botón de ver detalles -->
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarModal"
                        (click)="verModalDetalles(producto)">
                        Ver detalles
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal para agregar nuevo producto -->
<div class="modal fade" id="agregarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Agregar nuevo producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex">
                        <!-- Sección del formulario (columna izquierda) -->
                        <div class="formulario w-100">
                            <div class="mb-3">
                                <label for="Codigo" class="form-label">Codigo</label>
                                <input type="text" class="form-control" id="Codigo" [(ngModel)]="nuevoProducto.Codigo"
                                    name="Codigo" required>
                            </div>
                            <div class="mb-3">
                                <label for="Nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="Nombre" [(ngModel)]="nuevoProducto.Nombre"
                                    name="Nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="Elaboracion" class="form-label">Elaboracion</label>
                                <textarea class="form-control" id="Elaboracion" [(ngModel)]="nuevoProducto.Elaboracion"
                                    name="Elaboracion" rows="4" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="Tipo" class="form-label">Estado</label>
                                <select class="form-control" id="Tipo" [(ngModel)]="verDetalleProducto.Estado"
                                    name="Tipo" disabled required>
                                    <option value="Activo">Activo</option>
                                </select>
                            </div>
                        </div>

                        <!-- Sección de la tabla (columna derecha) -->
                        <div class="tabla ms-s w-100">
                            <h2 style="color: black;">Lista de materias disponibles</h2>
                            <table class="inventory-table">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Unidad de medida</th>
                                        <th>Precio por unidad (MXN)</th>
                                        <th>Tipo</th>
                                        <th>Marca</th>
                                        <th>Existencias</th>
                                        <th>Punto de Reorden</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let materia of ModalverMateriasPrimasAgregar">
                                        <td>{{ materia.Codigo }}</td>
                                        <td>{{ materia.Nombre }}</td>
                                        <td>{{ materia.Unidad_Medida }}</td>
                                        <td>{{ materia.Precio_unitario }}</td>
                                        <td>{{ materia.Tipo}}</td>
                                        <td>{{ materia.Marca }}</td>
                                        <td>{{ materia.Existencias }}</td>
                                        <td>{{ materia.Punto_Reorden }}</td>
                                        <td>
                                            <button id="BotonEditarMateia" class="btn btn-outline-danger" >
                                                Agregar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2 style="color: black;">Lista de materias agregadas</h2>
                            <table id="MateriasAgregadas" class="table mt-3">
                                <thead>
                                    <tr>
                                        <th>Materia Prima</th>
                                        <th>Cantidad</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="insertarProducto()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar producto -->
<div class="modal fade" id="editarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Detalles del Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="editCodigo" class="form-label">Codigo</label>
                        <input type="text" class="form-control" id="editCodigo" [(ngModel)]="verDetalleProducto.Codigo"
                            name="editCodigo" required>
                    </div>
                    <div class="mb-3">
                        <label for="editNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="editNombre" [(ngModel)]="verDetalleProducto.Nombre"
                            name="editNombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="editElaboracion" class="form-label">Elaboracion</label>
                        <input type="text" class="form-control" id="editElaboracion"
                            [(ngModel)]="verDetalleProducto.Elaboracion" name="editElaboracion" required>
                    </div>

                    <div class="mb-3">
                        <label for="Edit_Materias_Primas" class="form-label">Seleccione una Materia Prima</label>
                        <select class="form-select" id="Edit_Materias_Primas"
                            [(ngModel)]="materiaPrimaSeleccionadaEditar" name="Edit_Materias_Primas">
                            <option *ngFor="let materia of listaMateriasPrimas" [ngValue]="materia">{{ materia.Nombre }}
                            </option>
                        </select>
                        <button type="button" class="btn btn-primary mt-2">Agregar
                            Materia Prima</button>
                    </div>

                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Materia Prima</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let materia of verDetalleProducto.Materias_Primas; let i = index">
                                <td>{{ materia.Nombre }}</td>
                                <td><input type="number" class="form-control"
                                        [(ngModel)]="verDetalleProducto.Cantidad_MateriasPrimas[i]"></td>
                                <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mb-3">
                        <label for="Tipo" class="form-label">Estado</label>
                        <select class="form-control" id="Tipo" [(ngModel)]="verDetalleProducto.Estado" name="Tipo"
                            required>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCerrarEditarElemento" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editarDetalles()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>