<nav-bar></nav-bar>

<div style="margin-top: 2%;" class="container">
    <!-- Título -->
    <h2>Lista de Productos</h2>

    <div>
        <!-- Botón de agregar nuevo producto -->
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#agregarModal">
            Agregar Producto
        </button>
    </div>

    <!-- Tabla de productos terminados -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Tipo de empaquetado</th>
                <th>Tiempo de elaboracion (Hrs)</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listaProductos">
                <td>{{ producto.Codigo }}</td>
                <td>{{ producto.Nombre }}</td>
                <td>{{ producto.Tipo_Empaquetado }}</td>
                <td>{{ producto.Tiempo_Elaboracion}}</td>
                <td>{{ producto.Estado }}</td>
                <td>
                    <!-- Botón de ver detalles -->
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarModal"
                        (click)="verModalDetalles(producto)">
                        Ver detalles
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal para agregar nuevo producto -->
<div class="modal fade" id="agregarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Agregar nuevo producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex">
                        <!-- Sección del formulario (columna izquierda) -->
                        <div class="formulario w-100">
                            <div class="mb-3">
                                <label for="Codigo" class="form-label">Codigo</label>
                                <input type="text" class="form-control" id="Codigo" [(ngModel)]="nuevoProducto.Codigo"
                                    name="Codigo" required>
                            </div>
                            <div class="mb-3">
                                <label for="Nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="Nombre" [(ngModel)]="nuevoProducto.Nombre"
                                    name="Nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="Tipo_Empaquetado" class="form-label">Tipo de empaquetado</label>
                                <input type="text" class="form-control" id="Tipo_Empaquetado" [(ngModel)]="nuevoProducto.Tipo_Empaquetado"
                                    name="Tipo_Empaquetado" required>
                            </div>
                            <div class="mb-3">
                                <label for="Tiempo_Elaboracion" class="form-label">Tiempo de elaboracion</label>
                                <input type="text" class="form-control" id="Tiempo_Elaboracion" [(ngModel)]="nuevoProducto.Tiempo_Elaboracion"
                                    name="Tiempo_Elaboracion" required>
                            </div>
                            <div class="mb-3">
                                <label for="Elaboracion" class="form-label">Elaboracion</label>
                                <textarea class="form-control" id="Elaboracion" [(ngModel)]="nuevoProducto.Elaboracion"
                                    name="Elaboracion" rows="4" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="Tipo" class="form-label">Estado</label>
                                <select class="form-control" id="Tipo" [(ngModel)]="nuevoProducto.Estado" name="Tipo"
                                    disabled required>
                                    <option value="Activo">Activo</option>
                                </select>
                            </div>
                        </div>

                        <!-- Sección de la tabla (columna derecha) -->
                        <div class="tabla ms-s w-100">
                            <h2 style="color: black;">Lista de materias disponibles</h2>
                            <table class="inventory-table">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Unidad de medida</th>
                                        <th>Precio por unidad (MXN)</th>
                                        <th>Tipo</th>
                                        <th>Marca</th>
                                        <th>Existencias</th>
                                        <th>Punto de Reorden</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let materia of ModalverMateriasPrimasAgregar">
                                        <td>{{ materia.Codigo }}</td>
                                        <td>{{ materia.Nombre }}</td>
                                        <td>{{ materia.Unidad_Medida }}</td>
                                        <td>{{ materia.Precio_unitario }}</td>
                                        <td>{{ materia.Tipo}}</td>
                                        <td>{{ materia.Marca }}</td>
                                        <td>{{ materia.Existencias }}</td>
                                        <td>{{ materia.Punto_Reorden }}</td>
                                        <td>
                                            <button id="BotonAgregarMateia" class="btn btn-outline-danger"
                                                (click)="AgregarMateriaProducto(materia)">
                                                Agregar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2 style="color: black;">Lista de materias agregadas</h2>
                            <table id="MateriasAgregadas" class="table mt-3">
                                <thead>
                                    <tr>
                                        <th>Materia Prima</th>
                                        <th>Cantidad</th>
                                        <th>Unidad de medida</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let materiaAgregada of nuevoProducto.Materias_Primas, let i = index">
                                        <td>{{materiaAgregada.Nombre}}</td>
                                        <td>
                                            <input type="number" min="0" name="CantidadMateria" id="CantidadMateria"
                                                [(ngModel)]="nuevoProducto.Cantidad_MateriasPrimas[i]">
                                        </td>
                                        <td>{{materiaAgregada.Unidad_Medida}}</td>
                                        <td>
                                            <button id="BotonEditarMateia" class="btn btn-outline-danger"
                                                (click)="EliminarMateriaProducto(i)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="CerrarAgregarProducto" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="LimpiarFormulario()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="insertarProducto()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar un producto -->
<div class="modal fade" id="editarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Editar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex">
                        <!-- Sección del formulario (columna izquierda) -->
                        <div class="formulario w-100">
                            <div class="mb-3">
                                <label for="editarCodigo" class="form-label">Codigo</label>
                                <input type="text" class="form-control" id="editarCodigo"
                                    [(ngModel)]="verDetalleProducto.Codigo" name="editarCodigo" required>
                            </div>
                            <div class="mb-3">
                                <label for="editarNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="editarNombre"
                                    [(ngModel)]="verDetalleProducto.Nombre" name="editarNombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="editarTipo_Empaquetado" class="form-label">Tipo de empaquetado</label>
                                <input type="text" class="form-control" id="editarTipo_Empaquetado" [(ngModel)]="verDetalleProducto.Tipo_Empaquetado"
                                    name="editarTipo_Empaquetado" required>
                            </div>
                            <div class="mb-3">
                                <label for="editarTiempo_Elaboracion" class="form-label">Tiempo de elaboracion</label>
                                <input type="text" class="form-control" id="editarTiempo_Elaboracion" [(ngModel)]="verDetalleProducto.Tiempo_Elaboracion"
                                    name="editarTiempo_Elaboracion" required>
                            </div>
                            <div class="mb-3">
                                <label for="editarElaboracion" class="form-label">Elaboracion</label>
                                <textarea class="form-control" id="editarElaboracion"
                                    [(ngModel)]="verDetalleProducto.Elaboracion" name="editarElaboracion" rows="4"
                                    required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="editarTipo" class="form-label">Estado</label>
                                <select class="form-control" id="editarTipo" [(ngModel)]="verDetalleProducto.Estado"
                                    name="editarTipo" required>
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>

                        <!-- Sección de la tabla (columna derecha) -->
                        <div class="tabla ms-s w-100">
                            <h2 style="color: black;">Lista de materias disponibles</h2>
                            <table class="inventory-table">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Unidad de medida</th>
                                        <th>Precio por unidad (MXN)</th>
                                        <th>Tipo</th>
                                        <th>Marca</th>
                                        <th>Existencias</th>
                                        <th>Punto de Reorden</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let materia of ModalverMateriasPrimasAgregar">
                                        <td>{{ materia.Codigo }}</td>
                                        <td>{{ materia.Nombre }}</td>
                                        <td>{{ materia.Unidad_Medida }}</td>
                                        <td>{{ materia.Precio_unitario }}</td>
                                        <td>{{ materia.Tipo}}</td>
                                        <td>{{ materia.Marca }}</td>
                                        <td>{{ materia.Existencias }}</td>
                                        <td>{{ materia.Punto_Reorden }}</td>
                                        <td>
                                            <button id="BotonEditarMateria" class="btn btn-outline-danger"
                                                (click)="AgregarMateriaEditarProducto(materia)">
                                                Agregar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2 style="color: black;">Lista de materias agregadas</h2>
                            <table id="MateriasAgregadas" class="table mt-3">
                                <thead>
                                    <tr>
                                        <th>Materia Prima</th>
                                        <th>Cantidad</th>
                                        <th>Unidad de medida</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let materiaAgregadaEditar of verDetalleProducto.Materias_Primas; let j = index; trackBy: trackByIndex">
                                        <td>{{materiaAgregadaEditar.Nombre}}</td>
                                        <td>
                                            <input type="number" min="0"
                                                [(ngModel)]="verDetalleProducto.Cantidad_MateriasPrimas[j]"
                                                name="cantidadMateria{{j}}">
                                        </td>
                                        <td>{{materiaAgregadaEditar.Unidad_Medida}}</td>
                                        <td>
                                            <button id="BotonEditarMateria" class="btn btn-outline-danger"
                                                (click)="EliminarMateriaEditarProducto(j)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="CerrarEditarProducto" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editarDetalles()">Guardar</button>
            </div>
        </div>
    </div>
</div>