<nav-bar></nav-bar>

<div style="margin-top: 2%;" class="container">
    <h2>Inventario de Productos terminados</h2>

    <div id="ContenedorBusqueda">
        <button id="BotonAgregar" class="btn btn-warning btn-add" data-bs-toggle="modal" data-bs-target="#agregarModal">
            Agregar Materia Prima
        </button>
    </div>

    <div class="table-wrapper">
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Disponible para venta</th>
                    <th>Precio de venta unitario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Producto of InvetarioTerminados;let i=index">
                    <td>{{ Producto.Codigo }}</td>
                    <td>{{ Producto.Nombre_Producto }}</td>
                    <td>{{ Producto.Cantidad }}</td>
                    <td>
                        <input id="inputPrecio" min="0" type="number" name="PrecioTerminado{{i}}" id="PrecioTerminado" [(ngModel)]="Producto.Precio">
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm">Vender</button>
                        <button class="btn btn-danger btn-sm" (click)="ModificarPrecio(Producto)">Guardar precio</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>